body {
	background: #525252;
}
h1 {
	font-family: "PT Serif";
	font-size: 40px;
	color: #292826;
}
h2 {
	font-family: "PT Serif";
	font-size: 30px;
	color: #292826;
}
h3 {
	font-family: "PT Serif";
	font-size: 25px;
	color: #292826;
}
h4 {
	font-family: "PT Serif";
	font-size: 20px;
	color: #292826;
	font-weight: bold;
}
p {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #292826;
}
#photo { float: right; }
img {
	border: 4px ridge #5E4B0D;
	max-width: 250px;

}

/** @group core layout **/
#w { margin-left: auto; margin-right: auto; padding: 20px 40px; padding-top: 35px; background: #fff; min-width: 260px; max-width: 900px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; }